<div class="login-main" id="login-parent">
  <div class="animated fadeIn loginPadd" fxLayoutAlign="center center">
    <mat-card class="login" fxLayoutAlign="center center">
      <div
        class="loginForm"
        fxFlex="100"
        fxFlex.md="100"
        fxFlex.sm="100"
        fxLayout="row"
        fxLayout.sm="row"
        fxLayout.md="row"
      >
        <div class="logincarrusel" fxFlex="60">
          <app-content-session></app-content-session>
        </div>
        <div fxFlex="100" class="login-style">
          <app-session></app-session>
        </div>
      </div>
    </mat-card>
  </div>
</div>
